<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">Conseiller</th>
            <th scope="col">Nombre de clients</th>
            <th scope="col">Total compte courant</th>
            <th scope="col">Total compte épargne</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let conseiller of listConseiller">
        <td>{{conseiller.nom}} {{conseiller.prenom}}</td>
        <td *ngIf="conseiller.clients">{{conseiller.clients.length}}</td>
        <td>{{conseiller.totalCompteCourrant}} €</td>
        <td>{{conseiller.totalCompteEpargne}} €</td>
    </tr>
    </tbody>
</table>
