<p>index-conseiller works!</p>


<div> <!--Conteneur de la page (flex) -->
    
    <!--Conteneur Liste des clients du conseiller-->
    <div>
        <ul>
            <li> <!--mapper la liste des clients du conseillers-->

                <div> <!--informations du client (nom, prenom)-->
                    <p></p> 
                    <p></p>
                </div>

                <button>X</button>   <!--bouton de suppression (mettre une confirmation)-->
            </li> 
        </ul>
        <button>Ajouter un client</button> <!--Bouton d'ajout d'un client (ouvre une popup)-->
    </div>

    <!--Conteneur des 3 divs info client-->
    <div>
        <!--div info persos-->
        <div></div>

        <!--div info compte et carte-->
        <div></div>

        <!--div pour faire un virement d'un compte a un autre-->
        <div></div>
    </div>
</div>
