  <h2 class="d-flex justify-content-center mb-3">ASSOCIATION D'UN DIRECTEUR A UNE BANQUE</h2>
  <form [formGroup]="transferForm" (ngSubmit)="onTransferFormSubmit()">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <div class="row mb-3">
          <label for="employeName" class="col-sm-2 col-form-label">Directeur</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="employeSelected">
              <option [ngValue]="null" disabled>Veillez choisir le nom du directeur</option>
                <option *ngFor="let directeur of directeurs" [ngValue]="directeur">
                  {{directeur.nom}} {{directeur.prenom}}
                </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row mb-3">
          <label for="agenceName" class="col-sm-2 col-form-label">Agence</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="agenceSelected">
              <option [ngValue]="null" disabled>Veillez choisir le nom de l'agence</option>
              <ng-container *ngFor="let agence of listeAgences">
                <!--Revoire la condition if-->
                <option *ngIf="agence.directeur==null" [ngValue]="agence">
                  {{agence.agenceName}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col d-grid">
          <button class="btn btn-primary" type="submit" [disabled]="!transferForm.valid">Valider</button>
        </div>
      </div>
    </div>
  </form>
