/*Style des liens*/ 

.form-links-container {
    width:250px;
    margin-top: 10px;
}

.form-links-container a {
    color: black;
    text-decoration: none;
}

.form-links-container a:hover {
    color: black;
    text-decoration: underline;
}