<form [formGroup] = "myForm" class="form min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <img src="../../assets/img/proxybank.png" class="mb-4">
        <div class="login-form container-fluid mb-3 d-flex flex-column align-items-center">
            <div class="d-flex flex-column">
                <label>Utilisateur</label>
                <input type="text" formControlName="username"
                class="form-controls"
                id="username"
                name="username"
                placeholder="Entrez votre nom d'utilisateur"
                required>
            </div>

            <div class="d-flex flex-column">
                <label>Mot de passe</label>
                <input type="password" formControlName="password"
                class="form-controls"
                id="password"
                name="password"
                placeholder="Entrez votre mot de passe"
                required ngClass="{'is-invalide': submited && !connexion}">
            </div>
            <span *ngIf="submited && !connexion" class="d-flex flex-column text-danger">
              vos identifiants sont peut-être erronés!
            </span>
        </div>

    <div>
        <button type="button" class="btn-form-1"
        (click)="login()" [disabled]="!myForm.valid">SE CONNECTER</button>
    </div>
    <div class="form-links-container d-flex flex-column align-items-end">
        <a href="/signup">s'enregistrer</a>
    </div>
</form>

