    <!--Conteneur Liste des clients d'un conseiller-->
    <div>
        <ul class="list-unstyled">
            <h3 class="text-center">Liste des clients</h3>
            <table class="w-100 table table-hover">
                <thead class="table-light">
                    <tr>
                        <th class=" text-center" scope = "col">Nom</th>
                        <th class=" text-center" scope = "col">Prénom</th>
                        <th  class=" text-center"scope = "col">Modifier</th>
                        <th class=" text-center" scope = "col" >Supprimer</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor = "let client of clients let i=index" (click)="giveId(i)">
                        <td class=" text-center align-middle">{{client.nom}}</td>
                        <td class=" text-center align-middle">{{client.prenom}}</td>
                        <td class="text-center"> <button  type="button" class="btn btn-primary m-1" data-bs-toggle="modal" [attr.data-bs-target]="'#idClientModif' + i" (clic)="giveId(i)">Modifier</button></td>
                        <td class="text-center"> <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" [attr.data-bs-target]="'#idClientSuppr' + i" >X</button>   </td>
                    </tr>
                </tbody>
            </table>

            <li *ngFor = "let client of clients let i=index"> <!--mapper la liste des clients du conseillers-->

            <div>         
                    <!-- Modal Supression de client-->
                <div class="modal fade" id="{{'idClientSuppr'+i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Suppression de client {{client.nom}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Voulez-vous vraiment supprimer le client {{client.nom}} {{client.prenom}} ?
                            </div>
                            <div class="modal-footer">
                                
                            <button type="button" class="btn btn-primary" (click)="delete(client.id)" data-bs-dismiss="modal">Oui</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            
                        <!--modal de modification du client-->
                <div class="modal fade" id="{{'idClientModif'+i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modification des informations du client</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                        <div class="modal-body d-flex flex-row justify-content-between">
                             <form [formGroup] = "clientModify">
                                <h5 class="text-center">Modification du client</h5>
                                 <div class="d-flex flex-column align-items-center">
                                    <label>Nom</label>
                                    <input type="text" class="w-100"
                                    formControlName="nom" class="form-control" id="nom" name="nom" placeholder="Nom du client" required>
                                 </div>

                                 <div class="d-flex flex-column align-items-center">
                                    <label>Prénom</label>
                                    <input type="text" class="w-100"
                                    formControlName="prenom" class="form-control" id="prenom" name="prenom" placeholder="Prenom du client" required>
                                </div>

                                <div class="d-flex flex-column align-items-center">
                                    <label>Adresse</label>
                                    <input type="text"  class="w-100"
                                    formControlName="adresse" class="form-control" id="adresse" name="adresse" placeholder="Adresse du client" required>
                                </div>

                                <div class="d-flex flex-column align-items-center">
                                    <label>Code postal</label>
                                    <input type="text"  class="w-100"
                                    formControlName="codePostal" class="form-control" id="codePostal" name="codePostal" placeholder="Code postal" required>
                                </div>

                                <div class="d-flex flex-column align-items-center">
                                    <label>Téléphone</label>
                                    <input type="text" class="w-100"
                                    formControlName="telephone" class="form-control" id="telephone" name="telephone" placeholder="Numéro de telephone" required>
                                </div>
                            </form>

                            <div>
                                <form [formGroup]="modifiedCompteCourrant">
                                    <h5 class="text-center">Compte Courrant</h5>
                                    <div class="d-flex flex-column align-items-center">
                                       <label>Numéro de compte</label>
                                       <input type="text" class="w-100"
                                       formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de compte" required>
                                    </div>
        
                                    <div class="d-flex flex-column align-items-center">
                                       <label>Solde actuel</label>
                                       <input type="text" class="w-100"
                                       formControlName="solde" class="form-control" id="solde" name="solde" placeholder="Premier dépot" required>
                                   </div>
                                </form>
        
                                
                                <form [formGroup]="modifiedCompteEpargne">
                                    <h5 class="text-center">Compte Epargne</h5>
                                    <div class="d-flex flex-column align-items-center">
                                        <label>Numéro de compte</label>
                                        <input type="text" class="w-100"
                                        formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de compte" required>
                                    </div>
        
                                    <div class="d-flex flex-column align-items-center">
                                        <label>Solde actuel</label>
                                        <input type="text" class="w-100"
                                        formControlName="solde" class="form-control" id="solde" name="solde" placeholder="Premier dépot" required>
                                    </div>
                                  </form>
                            </div>   
                        
                            <form [formGroup]="modifiedCarte">
                                <h5 class="text-center">Carte</h5>
                                <div class="d-flex flex-column align-items-center">
                                    <label>Numéro de carte</label>
                                    <input type="text" class="w-100"
                                    formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de carte" required>
                                </div>

                                <div class="d-flex flex-column align-items-center">
                                    <label>Type de carte</label>
                                    <input type="text" class="w-100"
                                    formControlName="typeCarte" class="form-control" id="typeCarte" name="typeCarte" placeholder="Type de carte" required>
                                </div>
                          
                            </form>  
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" [disabled]="!modifiedCarte.valid || !modifiedCompteCourrant.valid || !modifiedCompteEpargne.valid || !clientModify.valid" (click)="formUpdateClient(client.id)" data-bs-dismiss="modal">Sauvegarder les modifications</button>
                        </div>
                    </div>
                    </div>
                </div>
                
            </li> 
        </ul>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClient" >Ajouter un client</button> <!--Bouton d'ajout d'un client (ouvre une popup avec un form : faire un nouveau composant)-->

                        <!-- Modal Creation Client -->
        <div class="modal fade" id="createClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel">Création du compte du client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                <div class="modal-body d-flex flex-row justify-content-between">

                     <form [formGroup]="addClient">
                         <h5 class="text-center">Création d'un client</h5>
                         <div  class="d-flex flex-column align-items-center">
                            <label>Nom</label>
                            <input type="text" value="" class="w-100"
                            formControlName="nom" class="form-control" id="nom" name="nom" placeholder="Nom" required>
                         </div>

                         <div  class="d-flex flex-column align-items-center">
                            <label>Prénom</label>
                            <input type="text" value="" class="w-100"
                            formControlName="prenom" class="form-control" id="prenom" name="prenom" placeholder="Prenom" required>
                        </div>

                         <div  class="d-flex flex-column align-items-center">
                            <label>Adresse</label>
                            <input type="text" value="" class="w-100"
                            formControlName="adresse" class="form-control" id="adresse" name="adresse" placeholder="Adresse" required>
                        </div>

                        <div  class="d-flex flex-column align-items-center">
                            <label>Code postal</label>
                            <input type="text" value="" class="w-100"
                            formControlName="codePostal" class="form-control" id="codePostal" name="codePostal" placeholder="CodePostal" required>
                        </div>

        
                        <div  class="d-flex flex-column align-items-center">
                            <label>Téléphone</label>
                            <input type="text" value="" class="w-100"
                            formControlName="telephone" class="form-control" id="telephone" name="telephone" placeholder="Telephone" required>
                        </div>
                    </form>

                    <div>
                            <!--Formulaire compte courrant-->
                            <form [formGroup]="compteCourrantModify">
                                <h5 class="text-center">Compte Courrant</h5>
                                <div class="d-flex flex-column align-items-center">
                                   <label>Numéro de compte</label>
                                   <input type="text" value="" class="w-100"
                                   formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de compte" required>
                                </div>
    
                                <div class="d-flex flex-column align-items-center">
                                   <label>Premier depot</label>
                                   <input type="text" value="" class="w-100"
                                   formControlName="solde" class="form-control" id="solde" name="solde" placeholder="Premier dépot" required>
                               </div>
                            </form>
    
                            <!--Formulaire compte Epargne-->
                            <form [formGroup]="compteEpargneModify">
                                <h5 class="text-center">Compte Epargne</h5>
                                <div class="d-flex flex-column align-items-center">
                                    <label>Numéro de compte</label>
                                    <input type="text" value="" class="w-100"
                                    formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de compte" required>
                                </div>
    
                                <div class="d-flex flex-column align-items-center">
                                    <label>Premier depot</label>
                                    <input type="text" value="" class="w-100"
                                    formControlName="solde" class="form-control" id="solde" name="solde" placeholder="Premier dépot" required>
                                </div>
                              </form>
                    </div>


                        <!--Formulaire compte Carte-->
                        <form [formGroup]="carteModify">
                            <h5 class="text-center">Carte</h5>
                            <div class="d-flex flex-column align-items-center">
                                <label>Numéro de carte</label>
                                <input type="text" value="" class="w-100"
                                formControlName="numero" class="form-control" id="numero" name="numero" placeholder="Numéro de carte" required>
                            </div>

                            <div class="d-flex flex-column align-items-center">
                                <label>Type de carte</label>
                                <input type="text" value="" class="w-100"
                                formControlName="typeCarte" class="form-control" id="typeCarte" name="typeCarte" placeholder="Type de carte" required>
                            </div>
                        </form>
            </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!compteEpargneModify.valid || compteCourrantModify.invalid || !carteModify.valid || !addClient.valid" (click)="addClientForm()" data-bs-dismiss="modal">Ajouter le client</button>
                </div>
            </div>
            </div>
        </div>
    </div>