  <h2 class="d-flex justify-content-center mb-3">TRANSFER D'EMPLOYE VERS UNE AUTRE AGENCE</h2>
  <form [formGroup]="transferForm" (ngSubmit)="onTransferFormSubmit()">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <div class="row mb-3">
          <label for="employeName" class="col-sm-2 col-form-label">Employé</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="employeSelected">
              <option [ngValue]="null" disabled>Veillez choisir le nom du conseiller</option>
              <option *ngFor="let conseiller of mesConseillers" [ngValue]="conseiller.conseillerId">
                {{conseiller.conseillerNom}} {{conseiller.conseillerPrenom}} {{conseiller.agenceName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row mb-3">
          <label for="agenceName" class="col-sm-2 col-form-label">Agence</label>
          <div class="col-sm-10">
            <select class="form-select" formControlName="agenceSelected">
              <option [ngValue]="null" disabled>Veillez choisir le nom de l'agence</option>
              <option *ngFor="let agence of listeAgences" [ngValue]="agence">
                {{agence.agenceName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col d-grid">
          <button class="btn btn-primary" type="submit" [disabled]="!transferForm.valid">Valider</button>
        </div>
      </div>
    </div>
  </form>


