<form [formGroup] = "myForm" class="form">
    <div class="login-form container-fluid d-flex flex-column align-items-center justify-content-center min-vh-100">

        <h1 class="font-weight-bold mb-xs-2 mb-md-5">INSCRIPTION</h1>

        <div class="row">

            <!--Premier bloc du form-->
            <div class="first-bloc col-md row-sm">
                <div class="d-flex flex-column align-items-center">
                    <label>Nom</label>
                    <input type="text" formControlName="nom"
                    class="form-control"
                    id="nom"
                    name="nom"
                    placeholder="Entrez votre nom"
                    required>
                </div>
    
                <div class="d-flex flex-column align-items-center">
                    <label>Prénom</label>
                    <input type="text" formControlName="prenom"
                    class="form-control"
                    id="prenom"
                    name="prenom"
                    placeholder="Entrez votre prénom"
                    required>
                </div>
    
                <div class="d-flex flex-column align-items-center">
                    <label>Nom d'utilisateur</label>
                    <input type="text" formControlName="username"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Entrez votre nom d'utilisateur"
                    required>
                </div>
            </div>
            
            <!--Place pour le logo-->
            <div class="col-md row-sm d-flex flex-column justify-content-center mt-md-3 mx-md-3 mb-md-3 logo-container align-items-center">
                <img src="../../assets/img/proxybank.png" class="logo">
            </div>

            <!--Second bloc du form-->
            <div class="second block col-md row-sm">
                <div class="d-flex flex-column align-items-center">
                    <label>Adresse Email</label>
                    <input type="email" formControlName="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Entrez votre adresse email"
                    required>
                </div>
           
                <div class="d-flex flex-column align-items-center">
                    <label>Mot de passe</label>
                    <input type="password" formControlName="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Entrez votre mot de passe"
                    required>
                </div>
    
                <div class="d-flex flex-column align-items-center">
                    <label>Mot de passe (vérification)</label>
                    <input type="password" formControlName="passwordVerif"
                    class="form-control"
                    id="passwordVerif"
                    name="passwordVerif"
                    placeholder="Entrez votre mot de passe"
                    required>
                </div>
            </div>

            <!--Bouton de validation du form-->
        </div>
            <div>
                <button class="btn-form-1 mt-md-5 mt-2"
                (click)="signup()" [disabled]="!myForm.valid">S'INSCRIRE</button>
            </div>
        </div>
</form>

