<h3>Comptes du client</h3>

<div class="d-flex flex-row" >
    <div class="d-flex flex-row">
        <div *ngFor="compte of comptes let i = index">
        
                <!--Compte Actif ou Comte Courrant-->
                <h5 *ngIf="comptes[i].autorisationDecouverte > 0">Compte Courrant</h5>
                <h5 *ngIf="comptes[i].autorisationDecouverte == undefined">Compte Epargne</h5>
            <p>Numéro de compte : {{comptes[i].numeroDeCompte}}</p>
            <p>Solde du compte : {{comptes[i].solde}} €</p>
            <p>Date d'ouverture du compte : {{comptes[i].dateOuverture}}</p>
        </div>
    </div>
    
    <div>
        <h5>Infos de cartes</h5>
        <div *ngFor="carte of cartes let i = index">
            <h5>Carte {{i+1}}</h5>
            <p>Numero de carte: {{cartes[i].numero}} </p>
            <p>Type de carte: {{cartes[i].typeCarte}}  </p>
        
            <!--Carte active ou incative-->
            <p *ngIf="cartes[i].active === true">La carte est active</p>
            <p *ngIf="cartes[i].active === false">La carte est inactive</p>
        </div>
    </div>
</div>


