
    <div class="container-fluid ">
        <div class="row   p-5 ">
            <div class="col  ">
                <app-tableau-conseiller ></app-tableau-conseiller>
            </div>
            <div class="col ">
                <div class="p-3 border  shadow rounded-3 bg-light-opacity-75">
                    <app-employe-needed ></app-employe-needed>
                </div>
                <div class="p-3 mt-3 mb-3 border rounded-3 shadow  bg-light-opacity-75">
                    <app-moyenne-compte-courrant ></app-moyenne-compte-courrant>
                </div>
                <div class="p-3 border  rounded-3 shadow bg-light-opacity-75">
                    <app-moyenne-compte-epargne ></app-moyenne-compte-epargne>
                </div>
                <div>
                    <app-graphique-audit ></app-graphique-audit>
                </div>
            </div>
        </div>
    </div>

